@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

$primary: #856652; 
$background: #f1e9dc;
$backgroun2: #e9dbc5;
$secondary: #8d7667;

main{
    width: 100%;
    height: auto;
}

.div-1{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $background;
    color: #000;
    gap: 2vh;

    img{
        &:hover{
            transform: scale(1.1);
        }
    }

    .text-animated{
        display: flex;
    }

    .social{
        width: 300px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        img{
            filter: contrast(70%);

            &:hover{
                transform: scale(1.3);
                filter: contrast(150%);
            }
        }
    }

    #text{
        font-size: 40pt;
        color: $primary;
    }

    h1{
        font-size: 40pt;
        font-weight: 600;
    }

    p{
        font-size: 25pt;
        
        &:after{
            content: "  </>";
            color: $secondary;
            font-size: 30pt;
        }

        span{
            color: $primary;
        }
    }

    a{
        text-decoration: none;
    }
}

.slider{
    width: auto;
    height: 30vh;
    overflow: hidden;
    position: relative;
    background-color: $backgroun2;
    box-shadow: inset -5px -5px 10px 0px #000000b0;

    .slide-track{
        width: 100%;
        height: 100%;
        animation: scroll 40s infinite linear;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: calc(250px * 14);
    }

    .slide{
        height: 100px;
        width: 200px;
        background-color: #b4a690;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 15px 10px #0000007c;

        &:hover{
            cursor: pointer;

            img{
                transform: scale(1.1);
                opacity: 1;
            }
        }
    }

    .an1{
        animation: float 3s infinite ease-in-out;
    }

    .an2{
        animation: floatt 3s infinite ease-in-out;
    }
}

.div-2{
    width: 100%;
    height: 80vh;
    background-color: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .languages{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 22vw;
        padding-right: 22vw;

        #an1{
            animation: an1 2s infinite ease-in-out;

            &:hover{
                animation: rotate 3s infinite linear;
                opacity: 1;
                transform: scale(1.3);
                filter: none;
            }
        }

        #an2{
            animation: an2 2s infinite ease-in-out;

            &:hover{
                animation: rotate 3s infinite linear;
                opacity: 1;
                transform: scale(1.3);
                filter: none;
            }
        }

        img{
            opacity: 0.5;
            filter: grayscale(1);
        }
    }

    .container{
        width: 70%;
        height: 70%;
        display: flex;

        .nav{
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            button{
                width: 150px;
                padding: 3vh;
                border: none;
                transition: .2s;
                color: #000;
                background-color: #cfc3af;

                &:hover{
                    background-color: #7a675a;
                    cursor: pointer;
                }

                &:focus{
                    border-left: 8px solid $primary;
                    background-color: #cfc3af;
                }
            }

            #one{
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            #four{
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }

        .content{
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2vh;
            padding: 8vh;
            color: #000;
            
            h1{
                font-size: 34pt;
                color: $primary;
            }

            p{
                font-size: 17pt;
            }
        }
    }
}

.projetos{
    width: 100%;
    height: auto;
    padding: 5vh;
    background-color: $background;
    display: flex;
    flex-direction: column;

    .projeto{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .card{
            width: 30vw;
            height: 80vh;
            color: #000;
            display: flex;
            flex-direction: column;
            gap: 3vh;
            margin: 3vh;
    
            .banner{
                width: 100%;
                height: 25vh;
                background: url(../Imgs/MiniBanners/page.png) center;
                border-left: 8px solid $primary;
                border-right: 8px solid $primary;
                border-radius: 10px;
            }
    
            .content{
                height: 55vh;
                display: flex;
                flex-direction: column;
                gap: 2vh;

                .descriçao{
                    color: #000000;
                }
        
                .languages{
                    color: $secondary;
                }
        
                .button{
                    width: 100%;
                    display: flex;
        
                    a{
                        text-decoration: none;
                    }
        
                    input{
                        font-size: 15pt;
                        background-color: #ffffff00;
                        color: #000;
                        padding: 1vh;
                        border: 1px solid #696969;
                        border-radius: 10px;
        
                        &:hover{
                            cursor: pointer;
                            transform: scale(1.02);
                            color: $secondary;
                        }
                    }
                }
            }
        }
    }
}

footer{
    width: 100%;
    height: auto;
    padding: 5vh;
    background-color: $backgroun2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000be;
    text-align: center;
    box-shadow: inset -8px -8px 15px 0px #000000b0;
}

/*keyframes*/

@keyframes led{
    0%{
        border: 5px solid #8400ff;
    }
    10%{
        border: 5px solid #facc00;
    }
    20%{
        border: 5px solid #00ff0d;
    }
    30%{
        border: 5px solid #00ffd5;
    }
    40%{
        border: 5px solid #0026ff;
    }
    50%{
        border: 5px solid #de0ef1;
    }
    60%{
        border: 5px solid #ff0c0c;
    }
    70%{
        border: 5px solid #e25412;
    }
    80%{
        border: 5px solid #991283;
    }
    90%{
        border: 5px solid #a66add;
    }
    100%{
        border: 5px solid #b1e22b;
    }
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    } 100% {
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes float{
    0%, 100%{
        transform: translateY(-5px);
    } 50%{
        transform: translateY(5px);
    }
}

@keyframes floatt{
    0%, 100%{
        transform: translateY(5px);
    } 50%{
        transform: translateY(-5px);
    }
}

@keyframes an1{
    0%, 100%{
        transform: translateY(1.5px);
    } 50%{
        transform: translateY(-1.5px);
    }
}

@keyframes an2{
    0%, 100%{
        transform: translateY(-1.5px);
    } 50%{
        transform: translateY(1.5px);
    }
}

@keyframes rotate{
    from{
        rotate: 0deg;
    } to {
        rotate: 360deg;
    }
}

/*funções adicionais*/

::-webkit-scrollbar {
    width: 8px;
    background-color: $background;
}
  
::-webkit-scrollbar-thumb {
    background-color: $primary;
    border: 0px;
    border-radius: 10px;
}
  
::selection {
    background-color: #8567529f;
}

/*responsive*/

@media(max-width: 830px){
    .projetos{
        .projeto{
            flex-direction: column;

            .card{
                width: 70vh;
            }
        }
    }

    .div-2{
        .languages{
            padding-left: 5vh;
            padding-right: 5vh;
        }
    }
}

@media(max-width: 870px){
    .div-2{
        .container{
            width: 100%;
        }
    }
}

@media(max-width: 690px){
    .text-animated{
        h1{
            font-size: 30pt;
        }

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .div-2{
        .content{
            #title{
                font-size: 25pt;
            }

            #texto{
                font-size: 15pt;
            }
        }
    }
}

@media(max-width: 570px){
    .div-2{
        display: none;
    }

    .projetos{
        .projeto{
            .card{
                width: 60vh;
            }
        }
    }
}

@media(max-width: 500px){
    .text-animated{
        h1{
            font-size: 20pt;
        }

        span{
            font-size: 30pt;
        }
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 450px){
    .div-1{
        p{
            font-size: 20pt;
        }
    }

    .projetos{
        .projeto{
            .card{
                width: 45vh;
                height: 85vh;
            }
        }
    }
}

@media(max-width: 350px){
    .div-1{
        p{
            font-size: 15pt;
        }
    }
}

/*projetos | banners*/

#bloco{
    background: url(../Imgs/MiniBanners/bloco.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;

    &:hover{
        opacity: 1;
    }
}

#illusion{
    background: url(../Imgs/MiniBanners/illusion.png) center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;

    &:hover{
        opacity: 1;
    }
}

#page{
    background: url(../Imgs/MiniBanners/page.png) center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;

    &:hover{
        opacity: 1;
    }
}

#cafe{
    background: url(../Imgs/MiniBanners/cafe.png) center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;

    &:hover{
        opacity: 1;
    }
}

#dogs{
    background: url(../Imgs/MiniBanners/dogs.png) center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;

    &:hover{
        opacity: 1;
    }
}

#dogsid{
    height: 80vh;
}

