@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

$primary: #671bad; 
$background: #110F17;
$backgroun2: #110f17fa;
$secondary: #a658f0;

main{
    width: 100%;
    height: auto;
}

.div-1{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $background;
    color: #fff;
    gap: 2vh;

    .text-animated{
        display: flex;
    }

    .social{
        width: 300px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        img{
            filter: contrast(50%);

            &:hover{
                transform: scale(1.3);
                filter: contrast(150%);
            }
        }
    }

    #text{
        font-size: 40pt;
        color: $primary;
    }

    #image{
        border-radius: 50%;
        border: 1px solid $primary;
        animation: 1s led infinite ease-in-out;
        transition: .5s;
    }

    h1{
        font-size: 40pt;
        font-weight: 600;
    }

    p{
        font-size: 25pt;
        
        &:after{
            content: "  </>";
            color: $secondary;
            font-size: 30pt;
        }

        span{
            color: $primary;
        }
    }

    a{
        text-decoration: none;
    }
}

.slider{
    width: auto;
    height: 30vh;
    overflow: hidden;
    position: relative;
    background-color: $backgroun2;
    box-shadow: inset -5px -5px 10px 0px #000000b0;

    .slide-track{
        width: 100%;
        height: 100%;
        animation: scroll 40s infinite linear;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: calc(250px * 14);
    }

    .slide{
        height: 100px;
        width: 200px;
        background-color: #2523309c;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 15px 10px #0000007c;

        img{
            filter: grayscale(0.6) drop-shadow(-5px 5px 5px #ffffff2f);
            opacity: 0.6;
        }

        &:hover{
            cursor: pointer;

            img{
                filter: grayscale(0) drop-shadow(-5px 5px 5px #ffffff2f);
                transform: scale(1.1);
                opacity: 1;
            }
        }
    }

    .an1{
        animation: float 3s infinite ease-in-out;
    }

    .an2{
        animation: floatt 3s infinite ease-in-out;
    }
}

.div-2{
    width: 100%;
    height: 80vh;
    background-color: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffffb0;
    font-size: 17pt;
    padding: 30vh;
    text-align: justify;
    gap: 3vh;

    h2{
        font-size: 35pt;
        color: $secondary;
    }
}

.divisor{
    width: 100%;
    height: 5px;
    background-color: $background;
    display: flex;
    align-items: center;
    justify-content: center;

    .line{
        width: 650px;
        height: 1px;
        background-color: #fff;
    }
}

.projetos{
    width: 100%;
    height: auto;
    padding: 5vh;
    background-color: $background;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .card{
        width: 35%;
        height: 60vh;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        margin: 5vh;

        .banner{
            width: 100%;
            height: 25vh;
            background: url(../Imgs/MiniBanners/page.png) center;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }

        .descriçao{
            color: #ffffffb0;
        }

        .button{
            a{
                text-decoration: none;
            }

            input{
                font-size: 15pt;
                background-color: #ffffff00;
                color: #fff;
                padding: 1vh;
                border: 1px solid #fff;
                border-radius: 10px;

                &:hover{
                    cursor: pointer;
                    transform: scale(1.05);
                    color: $secondary;
                }
            }
        }
    }
}

/*keyframes*/

@keyframes led{
    0%{
        border: 3px solid $primary;
    } 
    100% {
        border: 3px solid $secondary;
    }
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    } 100% {
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes float{
    0%, 100%{
        transform: translateY(-5px);
    } 50%{
        transform: translateY(5px);
    }
}

@keyframes floatt{
    0%, 100%{
        transform: translateY(5px);
    } 50%{
        transform: translateY(-5px);
    }
}

/*funções adicionais*/

::-webkit-scrollbar {
    width: 8px;
    background-color: $background;
}
  
::-webkit-scrollbar-thumb {
    background-color: $primary;
    border: 0px;
    border-radius: 10px;
}
  
::selection {
    background-color: #892be22d;
}

/*responsive*/

@media(max-width: 1260px){
    .game{
        height: 150vh;
        padding-top: 30vh;
    }
}

@media(max-width: 1150px){
    .div-2{
        font-size: 15pt;
        padding: 10vh;
    }
}

@media(max-width: 1000px){
    .game{
        display: none;
    }

    .projetos{
        height: auto;
    }
}

@media(max-width: 690px){
    .text-animated{
        h1{
            font-size: 30pt;
        }

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 570px){
    .div-2{
        height: 100vh;
        font-size: 12pt;
    }
}

@media(max-width: 500px){
    .text-animated{
        h1{
            font-size: 20pt;
        }

        span{
            font-size: 30pt;
        }
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 450px){
    .div-1{
        p{
            font-size: 20pt;
        }
    }

    .div-2{
        font-size: 12pt;
        padding: 5vh;
    }

    .projetos{
        .cards{
            .card{
                margin-bottom: 0;
                transform: scale(0.8);
            }
        }
    }
}

@media(max-width: 350px){
    .div-1{
        p{
            font-size: 15pt;
        }
    }

    .div-2{
        h2{
            font-size: 20pt;
        }
    }

    .projetos{
        .cards{
            .card{
                margin-bottom: 0;
                transform: scale(0.8);
                width: 1000px;
                height: 120px;
                font-size: 8pt;
            }
        }
    }
}